<bs-cart-container>
    <div class="card">
        <div class="card-header">
            Please check order information before making payment
        </div>

        <div class="card-block">
            <div class="row mx-4 mt-2">
                <div class="col-md-12">
                    <h4><small>Attn:</small> {{ order.requester }}</h4>
                </div>
            </div>
            <div class="row mx-4">
                <div class="col-md-5 order__address-panel">
                    <h5>Shipping Address</h5>
                    <div>{{ order.shippingAddress.street }}</div>
                    <div>{{ order.shippingAddress.city }}</div>
                    <div>{{ order.shippingAddress.zip }}</div>
                    <div>{{ order.shippingAddress.country }}</div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5 order__address-panel">
                    <h5>Billing Address</h5>
                    <div>{{ order.billingAddress.street }}</div>
                    <div>{{ order.billingAddress.city }}</div>
                    <div>{{ order.billingAddress.zip }}</div>
                    <div>{{ order.billingAddress.country }}</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-6 col-md-8">
                </div>
                <div class="col-sm-6 col-md-4">
                    <bs-cart-totals
                        [subTotal]="order.subtotal"
                        [shipping]="order.shipping"
                        [total]="order.total"
                        [currency]="order.currency"
                    ></bs-cart-totals>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row d-flex align-items-center">
                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="handleBack()">Back</button>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-sm btn-block" (click)="handlePayment()">Make Payment</button>
                </div>
            </div>
        </div>
    </div>
</bs-cart-container>
