<div class="container">
    <bs-page-title [title]="'Orders List'"></bs-page-title>
    <div class="row pb-4">
        <div class="col-md-12">
            <ngx-datatable class="material" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="40" [rowHeight]="'auto'" [limit]="10"
                [rows]="orders | async">
                <ngx-datatable-column name="Requester" prop="email" [flexGrow]="4">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <a href="" class="btn btn-link" (click)="$event.preventDefault(); handleEdit(row)">{{ value }}</a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Order Date" prop="date" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <a href="" class="btn btn-link" (click)="$event.preventDefault(); handleEdit(row)">{{ value | date }}</a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total" [flexGrow]="1">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{ value | bsCurrency: row.currency}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status" [flexGrow]="2">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{ value }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [flexGrow]="1" *ngIf="permissions.canEdit || permissions.canDelete">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button *ngIf="permissions.canEdit" class="btn btn-sm btn-outline-info" (click)="handleEdit(row)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button *ngIf="permissions.canDelete" class="btn btn-sm btn-outline-danger" (click)="handleDelete(row)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
