<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="login__container">
                    <div>
                        <form class="form" role="form" autocomplete="off" novalidate=""
                            [formGroup]="loginForm" (ngSubmit)="login()"
                        >
                            <div class="form-group">
                                <label class="form-control-label" for="email">E-Mail</label>
                                <input
                                    type="text"
                                    class="form-control form-control-lg rounded-0"
                                    name="email"
                                    formControlName="email"
                                    [ngClass]="{ 'is-invalid': email.dirty && !email.valid, 'is-valid': email.valid }"
                                >
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input
                                    type="password"
                                    class="form-control form-control-lg rounded-0"
                                    autocomplete="new-password"
                                    name="password"
                                    formControlName="password"
                                    [ngClass]="{ 'is-invalid': password.dirty && !password.valid, 'is-valid': password.valid }"
                                >
                            </div>
                            <div class="text-center">
                                <div class="alert alert-danger" role="alert" *ngIf="error?.message && loginForm.pristine">
                                    {{ error.message }}
                                </div>
                                <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Log In</button>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mt-4 mb-4">
                        <div>or</div>
                        <div class="small">you can use one of these services to log in:</div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-link login__button--facebook" (click)="loginWithProvider(LoginProviders.Facebook)">
                            <i class="fa fa-3x fa-facebook-square"></i>
                        </button>
                        <button type="button" class="btn btn-link login__button--github" (click)="loginWithProvider(LoginProviders.GitHub)">
                            <i class="fa fa-3x fa-github-square"></i>
                        </button>
                    </div>
                    <hr>
                    <div class="text-center mt-4 mb-4">
                        <div class="small mb-2">Don't have an account yet?</div>
                        <button type="button" class="btn btn-outline-secondary" (click)="goToSignup()">
                            Sign up here
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
