.signup__captcha {
    display: inline-block;
}

.signup__button--facebook {
    padding: 0 10px;
    color: #3b5998;
    cursor: pointer;
}

.signup__button--github {
    padding: 0 10px;
    color: #333333;
    cursor: pointer;
}
