<div class="card">
    <img class="card-img-top img-fluid" [src]="product.image" alt="">
    <div class="card-body">
        <h3 class="card-title">{{ product.name }}</h3>
        <h4>{{ product.price | currency:product.currency:true:'1.2-2' }}</h4>
        <p class="card-text">{{ product.description }}</p>

        <div class="row d-flex align-items-center">
            <div class="col-md-9 col-xs-12">
                <bs-product-rating [rating]="product.rating"></bs-product-rating>
            </div>

            <div class="col-md-3 col-xs-12 text-right">
                <button class="btn btn-primary btn-lg btn-block" (click)="handleBuyClick()">Buy Now</button>
            </div>
        </div>
    </div>
</div>
